a.home:link, a.home:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a.home:hover, a.home:active {
    background-color: red;
  }

  a.panel:link, a.panel:visited {
    background-color: rgb(43, 0, 255);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a.panel:hover, a.panel:active {
    background-color: rgb(43, 0, 255);
  }


  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.footer-social-links a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

.footer-social-links a:hover {
    text-decoration: underline;
}